<div class="container">
  <div class="left-section">
    <h2>MEAN Arena</h2>
  </div>
  <div class="right-section">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      @if (isLoggedIn()) {
        <li>
          <a routerLink="/students" routerLinkActive="active">Students</a>
        </li>
      }
      @if (isLoggedIn()) {
        <li>
          <a routerLink="/employees" routerLinkActive="active">Employees</a>
        </li>
      }
      @if (!isLoggedIn()) {
        <li>
          <button class="btn btn-primary logout" (click)="login()">Login</button>
        </li>
      }
      @if (isLoggedIn()) {
        <li>
          <button class="btn btn-primary logout" (click)="confirmLogout()">Logout</button>
        </li>
      }
    </ul>
  </div>
</div>

@if (showDialog) {
  <app-dialog
    [message]="'Are you sure you want to logout ?'"
    (onConfirm)="handleLogout($event)">
  </app-dialog>
}
