<div class="container">
  @if (isLoading) {
    <app-loader></app-loader>
  }
  @if (!toggleStudent && !this.isLoading) {
    <div class="student-header-section">
      <div class="left-student-header">
        <span><h2>Student Information</h2></span>
        <span class="search-student">
          <input
            #searchStudent
            (keyup)="showFilteredStudents(searchStudent.value)"
            class="search-student-input"
            type="text"
            placeholder="Search by rollNo or name"
          >
        </span>
      </div>
      <div class="right-student-header">
        <div class="add-student">
          <button class="add-student-button" (click)="toggleStudentPage()">Add Student</button>
        </div>
      </div>
    </div>
  }
  @if (studentsData && studentsData.length > 0 && !toggleStudent && !this.isLoading) {
    <div class="left-section">
      <div class="student-table">
        <table>
          <thead>
            <tr>
              <td>Roll No</td>
              <td>Name</td>
              <td>Class</td>
              <td>Fees</td>
              <td>Age</td>
              <td>Address</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody>
            @if (filteredStudentsData.length > 0) {
              @for (student of filteredStudentsData; track $index) {
                <tr>
                  <td>{{ student.roll_no }}</td>
                  <td>{{ student.name }}</td>
                  <td>{{ student.classCurrent }}</td>
                  <td>{{ student.fees }}</td>
                  <td>{{ student.age }}</td>
                  <td>{{ student.address }}</td>
                  <td>
                    <button class="delete-btn" (click)="confirmDeleteStudent(student)">
                      Delete
                    </button>
                  </td>
                </tr>
              }
            }
            @else {
              <tr>
                <td colspan="7" class="no-results">No results found</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  }

  @if (showDialog) {
    <app-dialog
      [message]="'Are you sure you want to delete ' + selectedStudent.name + ' roll no ' + selectedStudent.roll_no + ' ?'"
      (onConfirm)="handleDeleteStudent($event)">
    </app-dialog>
  }

  @if (toggleStudent) {
    <div class="right-section">
      <div class="form-section">
        <h2>Add Student</h2>
        <form [formGroup]="studentForm" (ngSubmit)="addStudent()">
          <div class="form-group">
            <label for="roll_no">Roll No</label>
            <input type="number" formControlName="roll_no" id="roll_no" />
          </div>

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" formControlName="name" id="name" />
          </div>

          <div class="form-group">
            <label for="class">Class</label>
            <input type="text" formControlName="class" id="class" />
          </div>

          <div class="form-group">
            <label for="fees">Fees</label>
            <input type="number" formControlName="fees" id="fees" />
          </div>

          <div class="form-group">
            <label for="age">Age</label>
            <input type="number" formControlName="age" id="age" />
          </div>

          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" formControlName="address" id="address" />
          </div>

          <button
            class="cancel-btn"
            (click)="toggleStudentPage()"
          >
             Cancel
          </button>

          <button
            [disabled]="!studentForm.valid"
            type="submit"
            class="submit-btn"
          >
            Add Student
          </button>
        </form>
      </div>
    </div>
  }
</div>
